<a href="https://colab.research.google.com/github/Aspartamei/Projekt2022_UMwF/blob/main/Projekt2022_UMwF_Przygotowanie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install yfinance
import pandas as pd
import yfinance as yf
import numpy as np
import math
import pickle
import time
import datetime
from datetime import date, timedelta, datetime
from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.2 MB/s
Collecting lxml>=4.5.1
  Downloading lxml-4.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 8.3 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.9.1 requests-2.28.1 yfinance-0.1.74

Wczytanie danych bazowych

In [5]:
url = "https://raw.githubusercontent.com/Aspartamei/Projekt2022_UMwF/main/DANE1.csv"
df = pd.read_csv(url, sep=',', header = None, names = ['Date','Comp2','Comp','Category','Code','Score'])
df = df.drop('Code', axis = 1)
df = df.drop('Comp2', axis = 1)
df = df.drop('Category', axis = 1)
df = df.reset_index(drop = True)
df["Date"] = pd.to_datetime(df["Date"])

In [7]:
df.head()

        Date Comp     Score
0 2004-02-11   SU  0.953727
1 2004-02-11  GGG  0.952753
2 2004-02-11  WGR  0.947634
3 2004-02-11  CWT  0.934181
4 2004-02-11  BLL  0.922862

In [ ]:
df.shape

(37360, 3)

Pobranie cen zamknięcia(close) z Yahoo Finance dla każdej firmy(comp)

In [ ]:
names = set(df.Comp)
beginnig_date = datetime(2004, 2, 11)
end_date = datetime(2022, 2, 9)

In [ ]:
close_price_df = pd.DataFrame()

for comp in names:
    getInfo = yf.Ticker(comp)
    getHistory = getInfo.history(getInfo, start=beginnig_date, end=end_date)

    getHistory["Comp"] = comp
    getHistory["Date"] = getHistory.index
    close_price_df = close_price_df.append(getHistory, ignore_index=True)

close_price_df = close_price_df.drop(columns=["Open", "High", "Low", "Volume", "Dividends", "Stock Splits", "Adj Close"])

- CBM: No data found, symbol may be delisted
- GAS.XX1: No data found, symbol may be delisted
- MBG.XX9: No data found, symbol may be delisted
- NSR.XX2: No data found, symbol may be delisted
- CATM: No data found, symbol may be delisted
- TIBX: No data found for this date range, symbol may be delisted
- XLNX: No data found, symbol may be delisted
- WLP.XX9: No data found, symbol may be delisted
- RSE.XX1: No data found, symbol may be delisted
- DCP.XX1: No data found, symbol may be delisted
- TLM: No data found for this date range, symbol may be delisted
- WFSI: No data found for this date range, symbol may be delisted
- SUN.XX1: No data found, symbol may be delisted
- BJ.XX10: No data found, symbol may be delisted
- GYI: No data found for this date range, symbol may be delisted
- KNL: No data found, symbol may be delisted
- KWKAQ: No data found for this date range, symbol may be delisted
- AGE.XX2: No data found, symbol may be delisted
- UST.XX1: No data found, symbol may be delisted
- WFM: No data found for this date range, symbol may be delisted
- BRCM: No data found for this date range, symbol may be delisted
- AQNT: No data found for this date range, symbol may be delisted
- PD.XX1: No data found, symbol may be delisted
- VIAC: No data found, symbol may be delisted
- UTIW: No data found for this date range, symbol may be delisted
- CTX.XX1: No data found, symbol may be delisted
- EV: No data found, symbol may be delisted
- APPB.XX1: No data found, symbol may be delisted
- PPDI: No data found for this date range, symbol may be delisted
- PRXL: No data found for this date range, symbol may be delisted
- STU.XX1: No data found, symbol may be delisted
- NTLS: No data found for this date range, symbol may be delisted
- CDX.XX1: No data found, symbol may be delisted
- WCN.XX2: No data found, symbol may be delisted
- PPP.XX1: No data found, symbol may be delisted
- CASC.XX2: No data found, symbol may be delisted
- TXU: No data found for this date range, symbol may be delisted
- DTGF: No data found, symbol may be delisted
- WOOF.XX1: No data found, symbol may be delisted
- CHTT: No data found for this date range, symbol may be delisted
- HEI.A: No data found, symbol may be delisted
- ASNAQ: No data found, symbol may be delisted
- BJS: No data found for this date range, symbol may be delisted
- MXIM: No data found, symbol may be delisted
- SGK: No data found for this date range, symbol may be delisted
- GMCR: No data found for this date range, symbol may be delisted
- KPP: No data found for this date range, symbol may be delisted
- RRD: No data found, symbol may be delisted
- MHS.XX1: No data found, symbol may be delisted
- JW.B: No data found, symbol may be delisted
- LGCYQ: No data found, symbol may be delisted
- TRK: No data found, symbol may be delisted
- MTSC: No data found, symbol may be delisted
- ANH: No data found, symbol may be delisted
- BEAM.XX3: No data found, symbol may be delisted
- MDP: No data found for this date range, symbol may be delisted
- AIRM: No data found for this date range, symbol may be delisted
- RAVN: No data found, symbol may be delisted
- PMZFF: No data found, symbol may be delisted
- HMSY: No data found, symbol may be delisted
- ENSI: No data found for this date range, symbol may be delisted
- VAL.XX1: No data found, symbol may be delisted
- ARRO: No data found for this date range, symbol may be delisted
- INCLF: No data found, symbol may be delisted
- PIXR: No data found for this date range, symbol may be delisted
- EFXFF: No data found, symbol may be delisted
- ROGFF: No data found, symbol may be delisted
- ANST: No data found for this date range, symbol may be delisted
- TIVO: No data found, symbol may be delisted
- ACV.XX1: No data found, symbol may be delisted
- IGTE: No data found for this date range, symbol may be delisted
- AACB: No data found for this date range, symbol may be delisted
- CNL: No data found for this date range, symbol may be delisted
- LCAV: No data found for this date range, symbol may be delisted
- LAF.XX1: No data found, symbol may be delisted
- MNIQQ: No data found, symbol may be delisted
- RPAI: No data found, symbol may be delisted
- OVTI: No data found for this date range, symbol may be delisted
- HNR: No data found for this date range, symbol may be delisted
- ARD.XX1: No data found, symbol may be delisted
- GTM: No data found for this date range, symbol may be delisted
- HYSL: No data found for this date range, symbol may be delisted
- RGC.XX1: No data found, symbol may be delisted
- KMI.XX1: No data found, symbol may be delisted
- CHSI: No data found for this date range, symbol may be delisted
- PIRRQ: No data found, symbol may be delisted
- BDG.A: No data found for this date range, symbol may be delisted
- DLLR: No data found for this date range, symbol may be delisted
- OUTR: No data found for this date range, symbol may be delisted
- STAR.XX9: No data found, symbol may be delisted
- HPY: No data found for this date range, symbol may be delisted
- PLMD: No data found for this date range, symbol may be delisted
- BIO.B: No data found for this date range, symbol may be delisted
- WPZ.XX1: No data found, symbol may be delisted
- MIK.XX1: No data found, symbol may be delisted
- JOSB: No data found for this date range, symbol may be delisted
- ZLC: No data found for this date range, symbol may be delisted
- MCRS: No data found for this date range, symbol may be delisted
- BYI: No data found for this date range, symbol may be delisted
- GYMB: No data found for this date range, symbol may be delisted
- EMS.XX1: No data found, symbol may be delisted
- CNXM: No data found, symbol may be delisted
- ININ: No data found for this date range, symbol may be delisted
- ACO: No data found for this date range, symbol may be delisted
- DNEX: No data found for this date range, symbol may be delisted
- BRSS: No data found, symbol may be delisted
- LDR: No data found for this date range, symbol may be delisted
- CNW: No data found for this date range, symbol may be delisted
- IWOV: No data found for this date range, symbol may be delisted
- HDS: No data found, symbol may be delisted
- ISIL: No data found for this date range, symbol may be delisted
- PSUNQ: No data found for this date range, symbol may be delisted
- TCP: No data found, symbol may be delisted
- GK.XX3: No data found, symbol may be delisted
- SAPE: No data found for this date range, symbol may be delisted
- EQY: No data found for this date range, symbol may be delisted
- TECD: No data found, symbol may be delisted
- MAUXF: No data found for this date range, symbol may be delisted
- TKLC: No data found for this date range, symbol may be delisted
- WDR: No data found, symbol may be delisted
- Q.XX1: No data found, symbol may be delisted
- CTWS: No data found, symbol may be delisted
- ELNK: No data found for this date range, symbol may be delisted
- GTRC: No data found for this date range, symbol may be delisted
- VRX.XX1: No data found, symbol may be delisted
- EGOV: No data found, symbol may be delisted
- PGN.XX1: No data found, symbol may be delisted
- PVAHQ: No data found for this date range, symbol may be delisted
- CPWR.XX1: No data found, symbol may be delisted
- RTI: No data found for this date range, symbol may be delisted
- ANN: No data found for this date range, symbol may be delisted
- SPB.XX1: No data found, symbol may be delisted
- XTO: No data found for this date range, symbol may be delisted
- TFCF: No data found, symbol may be delisted
- HUB.A: No data found, symbol may be delisted
- BGH.XX1: No data found, symbol may be delisted
- PVG.XX1: No data found, symbol may be delisted
- GISX: No data found for this date range, symbol may be delisted
- NVLS.XX1: No data found, symbol may be delisted
- DFODQ: No data found, symbol may be delisted
- EASI.XX1: No data found, symbol may be delisted
- SPLS: No data found for this date range, symbol may be delisted
- BRK.A: No data found, symbol may be delisted
- DD.XX1: No data found, symbol may be delisted
- JCI.XX1: No data found, symbol may be delisted
- TCO: No data found, symbol may be delisted
- ADS: No data found, symbol may be delisted
- PLD.XX2: No data found, symbol may be delisted
- SSNC.XX1: No data found, symbol may be delisted
- KKD: No data found for this date range, symbol may be delisted
- PTRY: No data found for this date range, symbol may be delisted
- AGN.XX2: No data found, symbol may be delisted
- CRRC: No data found for this date range, symbol may be delisted
- RTN: No data found, symbol may be delisted
- AIPC: No data found, symbol may be delisted
- HFC: No data found, symbol may be delisted
- STZ.B: No data found for this date range, symbol may be delisted
- WSC.XX1: No data found, symbol may be delisted
- TLRDQ: No data found, symbol may be delisted
- HNH: No data found for this date range, symbol may be delisted
- LNY: No data found for this date range, symbol may be delisted
- CLGX: No data found, symbol may be delisted
- AVHI.XX1: No data found, symbol may be delisted
- RTEC: No data found, symbol may be delisted
- APSG.XX1: No data found, symbol may be delisted
- BFAM.XX1: No data found, symbol may be delisted
- CNVR: No data found for this date range, symbol may be delisted
- CEG.XX3: No data found, symbol may be delisted
- TWC: No data found for this date range, symbol may be delisted
- MKC.V: No data found, symbol may be delisted
- NTRI: No data found, symbol may be delisted
- LXK: No data found for this date range, symbol may be delisted
- EVER.XX1: No data found, symbol may be delisted
- EC.XX9: No data found, symbol may be delisted
- VIA.XX10: No data found, symbol may be delisted
- FDO: No data found for this date range, symbol may be delisted
- SY.XX11: No data found, symbol may be delisted
- ETFC: No data found, symbol may be delisted
- PALDF: No data found, symbol may be delisted
- ABI.XX1: No data found, symbol may be delisted
- VIACA: No data found, symbol may be delisted
- PNRA: No data found for this date range, symbol may be delisted
- QCOR: No data found for this date range, symbol may be delisted
- BBX.XX2: No data found, symbol may be delisted
- ALXN: No data found, symbol may be delisted
- TFCFA: No data found, symbol may be delisted
- MCF: No data found, symbol may be delisted
- MVK: No data found for this date range, symbol may be delisted
- BGGSQ: No data found, symbol may be delisted
- EE: Data doesn't exist for startDate = 1076457600, endDate = 1644364800
- UNS: No data found for this date range, symbol may be delisted
- KL: No data found, symbol may be delisted
- DTV.XX1: No data found, symbol may be delisted
- KOG: No data found for this date range, symbol may be delisted
- BPL: No data found, symbol may be delisted
- AMTD.XX1: No data found, symbol may be delisted
- HUSKF: No data found, symbol may be delisted
- CMG.B: No data found, symbol may be delisted
- GPRO.XX1: No data found, symbol may be delisted
- CORE: No data found, symbol may be delisted
- SII.XX1: No data found, symbol may be delisted
- CMO: No data found, symbol may be delisted
- DNKN: No data found, symbol may be delisted
- HDLM: No data found, symbol may be delisted
- GEF.B: No data found for this date range, symbol may be delisted
- MLS.XX9: No data found, symbol may be delisted
- PSYS.XX1: No data found, symbol may be delisted
- TQNT: No data found for this date range, symbol may be delisted
- AGU: No data found for this date range, symbol may be delisted
- TOUSQ: No data found, symbol may be delisted
- PNY: No data found for this date range, symbol may be delisted
- ABVT: No data found for this date range, symbol may be delisted
- TE: No data found for this date range, symbol may be delisted
- GRA: No data found, symbol may be delisted
- NMG.A: No data found, symbol may be delisted
- RESP.XX1: No data found, symbol may be delisted
- SIAL: No data found for this date range, symbol may be delisted
- ACAS: No data found for this date range, symbol may be delisted
- AXE: No data found, symbol may be delisted
- CINR: No data found, symbol may be delisted
- FSYS: No data found for this date range, symbol may be delisted
- LZ.XX1: No data found, symbol may be delisted
- BRLI.XX1: No data found, symbol may be delisted
- ALSK: No data found, symbol may be delisted
- DUNDF: No data found, symbol may be delisted
- KEM: No data found, symbol may be delisted
- RSCR: No data found for this date range, symbol may be delisted
- GVHR: No data found for this date range, symbol may be delisted
- PLL.XX1: No data found, symbol may be delisted
- NEWCQ: No data found, symbol may be delisted
- DG.XX1: No data found, symbol may be delisted
- STB: No data found, symbol may be delisted
- CVA: No data found, symbol may be delisted
- FIF.XX2: No data found, symbol may be delisted
- RARE.XX1: No data found, symbol may be delisted
- HCR.XX1: No data found, symbol may be delisted
- MNR: No data found, symbol may be delisted
- GLYT: No data found for this date range, symbol may be delisted
- DMND: No data found for this date range, symbol may be delisted
- BEAV: No data found for this date range, symbol may be delisted
- CUB: No data found, symbol may be delisted
- CKH: No data found, symbol may be delisted
- QLGC: No data found for this date range, symbol may be delisted
- NMG.B: No data found for this date range, symbol may be delisted
- KFN: No data found for this date range, symbol may be delisted
- MEDQ: No data found for this date range, symbol may be delisted
- SCLN: No data found for this date range, symbol may be delisted
- BLKIA: No data found for this date range, symbol may be delisted
- ORB: No data found for this date range, symbol may be delisted
- EPE.XX1: No data found, symbol may be delisted
- WBMD: No data found for this date range, symbol may be delisted
- LC.XX1: No data found, symbol may be delisted
- WNR: No data found for this date range, symbol may be delisted
- BF.A: No data found, symbol may be delisted
- VAR: No data found, symbol may be delisted
- STJ: No data found for this date range, symbol may be delisted
- LTM.XX1: No data found, symbol may be delisted
- FUR: No data found for this date range, symbol may be delisted
- MHM.XX1: No data found, symbol may be delisted
- VMSI.XX1: No data found, symbol may be delisted
- MATK: No data found for this date range, symbol may be delisted
- NBL: No data found, symbol may be delisted
- HTS: No data found for this date range, symbol may be delisted
- DNB.XX1: No data found, symbol may be delisted
- AZR.XX1: No data found, symbol may be delisted
- LEARQ: No data found, symbol may be delisted
- HSH: No data found for this date range, symbol may be delisted
- SPSS: No data found for this date range, symbol may be delisted
- DELL.XX1: No data found, symbol may be delisted
- BLUD: No data found for this date range, symbol may be delisted
- MRD.XX1: No data found, symbol may be delisted
- WWIN.XX1: No data found, symbol may be delisted
- BTUUQ: No data found for this date range, symbol may be delisted
- COGN: No data found for this date range, symbol may be delisted
- OKS: No data found for this date range, symbol may be delisted
- LGF.A: No data found, symbol may be delisted
- BOBE: No data found for this date range, symbol may be delisted
- HMA: Data doesn't exist for startDate = 1076457600, endDate = 1644364800
- BXG.XX1: No data found, symbol may be delisted
- ALTR.XX1: No data found, symbol may be delisted
- ACAT: No data found for this date range, symbol may be delisted
- IGT.XX1: No data found, symbol may be delisted
- LEN.B: No data found for this date range, symbol may be delisted
- IQNT: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
- CYT.XX10: No data found, symbol may be delisted
- FRTA: No data found, symbol may be delisted
- RAI: No data found for this date range, symbol may be delisted
- RCI.XX11: No data found, symbol may be delisted
- ISCB.XX1: No data found, symbol may be delisted
- LO: No data found for this date range, symbol may be delisted
- DFT: No data found for this date range, symbol may be delisted
- ASEI: No data found for this date range, symbol may be delisted
- STRZB: No data found for this date range, symbol may be delisted
- STK.XX1: No data found, symbol may be delisted
- AYR: No data found, symbol may be delisted
- TLP: No data found, symbol may be delisted
- KMP: No data found for this date range, symbol may be delisted
- RSHCQ: No data found for this date range, symbol may be delisted
- FEIC: No data found for this date range, symbol may be delisted
- CMLEF: No data found, symbol may be delisted
- INFA.XX1: No data found, symbol may be delisted
- GSF.XX1: No data found, symbol may be delisted
- SNDK: No data found for this date range, symbol may be delisted
- WLSM: No data found, symbol may be delisted
- ZQKSQ: No data found for this date range, symbol may be delisted
- VIAB: No data found, symbol may be delisted
- GCGMF: No data found, symbol may be delisted
- DCT.XX1: No data found, symbol may be delisted
- DRIV.XX1: No data found, symbol may be delisted
- ETP.XX1: No data found, symbol may be delisted
- GDI.XX1: No data found, symbol may be delisted
- HF: No data found, symbol may be delisted
- ANCUF: No data found, symbol may be delisted
- JAH: No data found for this date range, symbol may be delisted
- ASFI: No data found, symbol may be delisted
- POT: No data found for this date range, symbol may be delisted
- FRX.XX1: No data found, symbol may be delisted
- PDE: No data found for this date range, symbol may be delisted
- SE.XX11: No data found, symbol may be delisted
- HSNI: No data found for this date range, symbol may be delisted
- LDL: No data found, symbol may be delisted
- BPMP: No data found, symbol may be delisted
- BGPIQ: No data found, symbol may be delisted
- DWSN.XX1: No data found, symbol may be delisted
- HOFD: No data found, symbol may be delisted
- CHKAQ: No data found, symbol may be delisted
- HSP: No data found for this date range, symbol may be delisted
- COGT.XX2: No data found, symbol may be delisted
- LLL.XX1: No data found, symbol may be delisted
- CHG.XX10: No data found, symbol may be delisted
- MWIV: No data found for this date range, symbol may be delisted
- GXDX: No data found for this date range, symbol may be delisted
- SIRO: No data found for this date range, symbol may be delisted
- WRI: No data found, symbol may be delisted
- JW.A: No data found, symbol may be delisted
- PPS: No data found for this date range, symbol may be delisted
- NGLS: No data found for this date range, symbol may be delisted
- BRY.XX1: No data found, symbol may be delisted
- RSTI: No data found for this date range, symbol may be delisted
- IUSA.XX2: No data found, symbol may be delisted
- ARTI.XX9: No data found, symbol may be delisted
- TIF: No data found, symbol may be delisted
- MNT: No data found for this date range, symbol may be delisted
- LAACZ: No data found, symbol may be delisted
- GGP: No data found for this date range, symbol may be delisted
- CSFFF: No data found, symbol may be delisted
- ASCA.XX1: No data found, symbol may be delisted
- DISCK: No data found, symbol may be delisted
- WSO.B: No data found, symbol may be delisted
- OCR: No data found for this date range, symbol may be delisted
- ALD.XX1: No data found, symbol may be delisted
- BNI: No data found for this date range, symbol may be delisted
- CTRX: No data found for this date range, symbol may be delisted
- CBST: No data found for this date range, symbol may be delisted
- LIFE.XX5: No data found, symbol may be delisted
- RATE.XX1: No data found, symbol may be delisted
- AL.XX1: No data found, symbol may be delisted
- MOG.A: No data found, symbol may be delisted
- BCR: No data found for this date range, symbol may be delisted
- CY: No data found, symbol may be delisted
- PMC: No data found for this date range, symbol may be delisted
- IPHS: No data found, symbol may be delisted

In [ ]:
close_price_df.shape

(5520441, 3)

In [ ]:
close_price_df.head()

      Close  Comp       Date
0  6.699813  ANDV 2004-02-11
1  6.841122  ANDV 2004-02-12
2  6.662407  ANDV 2004-02-13
3  6.945029  ANDV 2004-02-17
4  7.148684  ANDV 2004-02-18

Dodanie kolumny Close(cena zamkniecia) poprzez połączenie zbiorów

In [ ]:
close_score_df = pd.merge(df, close_price_df[["Close", "Comp", "Date"]], how="left", on=["Comp", "Date"])
close_score_df

            Date   Comp     Score     Close
0     2004-02-11     SU  0.953727  9.165979
1     2004-02-11    GGG  0.952753  6.536162
2     2004-02-11    WGR  0.947634       NaN
3     2004-02-11    CWT  0.934181  9.002888
4     2004-02-11    BLL  0.922862  6.879496
...          ...    ...       ...       ...
37355 2022-02-09    PEP  0.701507       NaN
37356 2022-02-09   SSNC  0.701123       NaN
37357 2022-02-09    GEF  0.697954       NaN
37358 2022-02-09    DPZ  0.697741       NaN
37359 2022-02-09  LIFZF  0.695644       NaN

[37360 rows x 4 columns]

Wyznaczenie stóp zwrotu

In [ ]:
close_score_df['Date'] = pd.to_datetime(close_score_df['Date'])

In [ ]:
close_score_df

            Date   Comp     Score     Close
0     2004-02-11     SU  0.953727  9.165979
1     2004-02-11    GGG  0.952753  6.536162
2     2004-02-11    WGR  0.947634       NaN
3     2004-02-11    CWT  0.934181  9.002888
4     2004-02-11    BLL  0.922862  6.879496
...          ...    ...       ...       ...
37355 2022-02-09    PEP  0.701507       NaN
37356 2022-02-09   SSNC  0.701123       NaN
37357 2022-02-09    GEF  0.697954       NaN
37358 2022-02-09    DPZ  0.697741       NaN
37359 2022-02-09  LIFZF  0.695644       NaN

[37360 rows x 4 columns]

In [ ]:
close_score_df = close_score_df[["Close", "Date", "Comp","Score"]]

In [ ]:
close_score_df

          Close       Date   Comp     Score
0      9.165984 2004-02-11     SU  0.953727
1      6.536161 2004-02-11    GGG  0.952753
2           NaN 2004-02-11    WGR  0.947634
3      9.002892 2004-02-11    CWT  0.934181
4      6.879497 2004-02-11    BLL  0.922862
...         ...        ...    ...       ...
37355       NaN 2022-02-09    PEP  0.701507
37356       NaN 2022-02-09   SSNC  0.701123
37357       NaN 2022-02-09    GEF  0.697954
37358       NaN 2022-02-09    DPZ  0.697741
37359       NaN 2022-02-09  LIFZF  0.695644

[37360 rows x 4 columns]

Obliczenie stóp zwrotu w horyzontach: miesięcznym(month), kwartalnym(qtr) i roczny(year)

In [ ]:
company = set(close_price_df.Comp)
all_ror_df = pd.DataFrame()
for comp in company:
    company_df = close_price_df[close_price_df.Comp == comp].copy()
    company_df['Date'] = pd.to_datetime(company_df['Date'])
    for date in company_df.Date:
        try:
            c_t1 = company_df[company_df.Date == date].iloc[0, 0]

            # Month Value
            date_plus_month = date + pd.DateOffset(months=1)
            if date_plus_month in set(company_df.Date):
                c_t_month = company_df[company_df.Date == date_plus_month].iloc[0, 0]
                month_ror = math.log(c_t_month / c_t1)
                company_df.loc[company_df["Date"] == date_plus_month, "month_ROR"] = month_ror
        
        except ValueError:
            month_ror = np.nan
            continue
            
        try:
            # Qtr Value
            date_plus_qtr = date + pd.DateOffset(months=3)
            if date_plus_qtr in set(company_df.Date): 
                c_t_qtr = company_df[company_df.Date == date_plus_qtr].iloc[0, 0]
                qtr_ror = math.log(c_t_qtr / c_t1)
                company_df.loc[company_df["Date"] == date_plus_qtr, "qtr_ROR"] = qtr_ror
                
        except ValueError:
            qtr_ror = np.nan
            continue

        try:     
            # Year Value
            date_plus_year = date + pd.DateOffset(years=1)
            if date_plus_year in set(company_df.Date):
                c_t_year = company_df[company_df.Date == date_plus_year].iloc[0, 0]
                year_ror = math.log(c_t_year / c_t1)
                company_df.loc[company_df["Date"] == date_plus_year, "year_ROR"] = year_ror
            
        except ValueError:
            year_ror = np.nan
            continue
    all_ror_df = all_ror_df.append(company_df, ignore_index=True)

Połączenie zbiorów i usunięcie braków danych. 
Dane dla niektórych spółek nie pobrały się z Yahoo Finance a Score ma inny interwał niż zmienna Close.

In [24]:
ROR_df = pd.merge(all_ror_df, df[["Comp", "Date", "Score"]], how="left", on=["Comp", "Date"])
ROR_df

       Comp       Date       Close  month_ROR   qtr_ROR  year_ROR     Score
0       UBA 2004-03-24    6.163362   0.083411       NaN       NaN  0.741122
1       UBA 2005-06-15    7.158419   0.087692  0.098211  0.254842  0.803913
2       UBA 2005-06-29    7.281594   0.045381  0.134050  0.223035  0.806620
3       UBA 2005-07-13    7.605220   0.066313  0.228741  0.219617  0.923381
4       UBA 2005-07-27    7.613519   0.062501  0.249711  0.305484  0.923270
...     ...        ...         ...        ...       ...       ...       ...
30102  AMED 2010-02-10   56.180000   0.054901  0.305918  0.206022  0.485908
30103  AMED 2017-07-12   58.970001  -0.002406  0.152455  0.160072  0.689752
30104  AMED 2017-07-26   48.689999  -0.120590  0.079048  0.075266  0.677474
30105  AMED 2019-03-13  122.250000  -0.113183 -0.090947  0.683718  0.751574
30106  AMED 2019-03-27  119.559998  -0.024715  0.099533  0.695205  0.751194

[30107 rows x 7 columns]

In [25]:

ROR_df = ROR_df[["Comp", "Date", "Close","month_ROR","qtr_ROR","year_ROR","Score"]]
no_score = []
for comp in ROR_df.Comp.unique():
    comp_df = ROR_df[ROR_df.Comp == comp]
    if comp_df.Score.isna().sum() == len(comp_df.Score):
        no_score.append(comp)
data_clean_df = pd.DataFrame()
data_clean_df = ROR_df[~ROR_df['Comp'].isin(no_score)]

In [26]:
data_clean_df

       Comp       Date       Close  month_ROR   qtr_ROR  year_ROR     Score
0       UBA 2004-03-24    6.163362   0.083411       NaN       NaN  0.741122
1       UBA 2005-06-15    7.158419   0.087692  0.098211  0.254842  0.803913
2       UBA 2005-06-29    7.281594   0.045381  0.134050  0.223035  0.806620
3       UBA 2005-07-13    7.605220   0.066313  0.228741  0.219617  0.923381
4       UBA 2005-07-27    7.613519   0.062501  0.249711  0.305484  0.923270
...     ...        ...         ...        ...       ...       ...       ...
30102  AMED 2010-02-10   56.180000   0.054901  0.305918  0.206022  0.485908
30103  AMED 2017-07-12   58.970001  -0.002406  0.152455  0.160072  0.689752
30104  AMED 2017-07-26   48.689999  -0.120590  0.079048  0.075266  0.677474
30105  AMED 2019-03-13  122.250000  -0.113183 -0.090947  0.683718  0.751574
30106  AMED 2019-03-27  119.559998  -0.024715  0.099533  0.695205  0.751194

[30107 rows x 7 columns]

Obliczenie średnich stóp zwrotu

In [29]:
mean_ror_df = pd.DataFrame()
for comp in tqdm(data_clean_df.Comp.unique()):
    mean_df = pd.DataFrame()
    mean_df = data_clean_df[data_clean_df.Comp == comp].copy()
    score_index = mean_df[~mean_df.Score.isna()].index
    len(score_index)
    for indx in score_index:
        start_date = mean_df.loc[indx, 'Date']
        dates_indx = mean_df.loc[(mean_df.Date >= (start_date - timedelta(days = 7))) & (mean_df.Date <= start_date)].index
        mean_df.loc[indx, 'month_ROR'] = mean_df.loc[dates_indx ,'month_ROR'].mean()
        mean_df.loc[indx, 'qtr_ROR'] = mean_df.loc[dates_indx ,'qtr_ROR'].mean()
        mean_df.loc[indx, 'year_ROR'] = mean_df.loc[dates_indx ,'year_ROR'].mean()
    
    mean_ror_df = pd.concat([mean_ror_df, mean_df[mean_df.index.isin(score_index)]])
mean_ror_df = mean_ror_df.reset_index(drop = True)
print(mean_ror_df)

100%|██████████| 1352/1352 [01:45<00:00, 12.77it/s]

       Comp       Date       Close  month_ROR   qtr_ROR  year_ROR     Score
0       UBA 2004-03-24    6.163362   0.083411       NaN       NaN  0.741122
1       UBA 2005-06-15    7.158419   0.087692  0.098211  0.254842  0.803913
2       UBA 2005-06-29    7.281594   0.045381  0.134050  0.223035  0.806620
3       UBA 2005-07-13    7.605220   0.066313  0.228741  0.219617  0.923381
4       UBA 2005-07-27    7.613519   0.062501  0.249711  0.305484  0.923270
...     ...        ...         ...        ...       ...       ...       ...
30102  AMED 2010-02-10   56.180000   0.054901  0.305918  0.206022  0.485908
30103  AMED 2017-07-12   58.970001  -0.002406  0.152455  0.160072  0.689752
30104  AMED 2017-07-26   48.689999  -0.120590  0.079048  0.075266  0.677474
30105  AMED 2019-03-13  122.250000  -0.113183 -0.090947  0.683718  0.751574
30106  AMED 2019-03-27  119.559998  -0.024715  0.099533  0.695205  0.751194

[30107 rows x 7 columns]

In [ ]:
mean_ror_df

       Comp       Date       Close  month_ROR   qtr_ROR  year_ROR     Score
0       UBA 2004-03-24    6.163362   0.083411       NaN       NaN  0.741122
1       UBA 2005-06-15    7.158419   0.087692  0.098211  0.254842  0.803913
2       UBA 2005-06-29    7.281594   0.045381  0.134050  0.223035  0.806620
3       UBA 2005-07-13    7.605220   0.066313  0.228741  0.219617  0.923381
4       UBA 2005-07-27    7.613519   0.062501  0.249711  0.305484  0.923270
...     ...        ...         ...        ...       ...       ...       ...
30102  AMED 2010-02-10   56.180000   0.054901  0.305918  0.206022  0.485908
30103  AMED 2017-07-12   58.970001  -0.002406  0.152455  0.160072  0.689752
30104  AMED 2017-07-26   48.689999  -0.120590  0.079048  0.075266  0.677474
30105  AMED 2019-03-13  122.250000  -0.113183 -0.090947  0.683718  0.751574
30106  AMED 2019-03-27  119.559998  -0.024715  0.099533  0.695205  0.751194

[30107 rows x 7 columns]

Dodanie kolumn z cenami ropy brent oraz euro i jena w dolarach

In [30]:
oej_data_df = pd.read_excel("https://raw.githubusercontent.com/Aspartamei/Projekt2022_UMwF/main/Dane_OEJv2.xlsx")

oej_data_df["Date"] = pd.to_datetime(oej_data_df["Date"])

full_data_df = pd.merge(mean_ror_df, oej_data_df, how="left", on=["Date"])
full_data_df

,Comp,Date,Close,month_ROR,qtr_ROR,year_ROR,Score,Oil,EUR,JPY
0,UBA,2004-03-24,6.163362,0.083411,NaN,NaN,0.741122,33.01,0.82,106.23
1,UBA,2005-06-15,7.158419,0.087692,0.098211,0.254842,0.803913,54.50,0.83,109.19
2,UBA,2005-06-29,7.281594,0.045381,0.134050,0.223035,0.806620,56.15,0.83,110.41
3,UBA,2005-07-13,7.605220,0.066313,0.228741,0.219617,0.923381,58.27,0.83,111.86
4,UBA,2005-07-27,7.613519,0.062501,0.249711,0.305484,0.923270,58.01,0.83,112.39
...,...,...,...,...,...,...,...,...,...,...
30102,AMED,2010-02-10,56.180000,0.054901,0.305918,0.206022,0.485908,72.54,0.73,89.92
30103,AMED,2017-07-12,58.970001,-0.002406,0.152455,0.160072,0.689752,47.74,0.88,113.16
30104,AMED,2017-07-26,48.689999,-0.120590,0.079048,0.075266,0.677474,50.97,0.85,111.17
30105,AMED,2019-03-13,122.250000,-0.113183,-0.090947,0.683718,0.751574,67.55,0.88,111.17
30106,AMED,2019-03-27,119.559998,-0.024715,0.099533,0.695205,0.751194,67.83,0.89,110.52

Oczyszczenie zbioru z braków danych w kolumnach Close, Oil, EUR i JPY.

In [31]:
no_close_data = []
for close in full_data_df.Close.unique():
    close_df = full_data_df[full_data_df.Close == close]
    if close_df.Score.isna().sum() == len(close_df.Score):
        no_close_data.append(close)
no_oil_data = []
for oil in full_data_df.Oil.unique():
    oil_df = full_data_df[full_data_df.Oil == oil]
    if oil_df.Score.isna().sum() == len(oil_df.Score):
        no_oil_data.append(oil)
no_eur_data = []
for eur in full_data_df.EUR.unique():
    eur_df = full_data_df[full_data_df.EUR == eur]
    if eur_df.Score.isna().sum() == len(eur_df.Score):
        no_eur_data.append(eur)
no_jpy_data = []
for jpy in full_data_df.JPY.unique():
    jpy_df = full_data_df[full_data_df.JPY == jpy]
    if jpy_df.Score.isna().sum() == len(jpy_df.Score):
        no_jpy_data.append(jpy)

In [32]:
data_final = pd.DataFrame()
data_final = full_data_df[~full_data_df['Close'].isin(no_close_data)]
data_final = full_data_df[~full_data_df['Oil'].isin(no_oil_data)]
data_final = full_data_df[~full_data_df['EUR'].isin(no_eur_data)]
data_final = full_data_df[~full_data_df['JPY'].isin(no_jpy_data)]

In [33]:
data_final

,Comp,Date,Close,month_ROR,qtr_ROR,year_ROR,Score,Oil,EUR,JPY
0,UBA,2004-03-24,6.163362,0.083411,NaN,NaN,0.741122,33.01,0.82,106.23
1,UBA,2005-06-15,7.158419,0.087692,0.098211,0.254842,0.803913,54.50,0.83,109.19
2,UBA,2005-06-29,7.281594,0.045381,0.134050,0.223035,0.806620,56.15,0.83,110.41
3,UBA,2005-07-13,7.605220,0.066313,0.228741,0.219617,0.923381,58.27,0.83,111.86
4,UBA,2005-07-27,7.613519,0.062501,0.249711,0.305484,0.923270,58.01,0.83,112.39
...,...,...,...,...,...,...,...,...,...,...
30102,AMED,2010-02-10,56.180000,0.054901,0.305918,0.206022,0.485908,72.54,0.73,89.92
30103,AMED,2017-07-12,58.970001,-0.002406,0.152455,0.160072,0.689752,47.74,0.88,113.16
30104,AMED,2017-07-26,48.689999,-0.120590,0.079048,0.075266,0.677474,50.97,0.85,111.17
30105,AMED,2019-03-13,122.250000,-0.113183,-0.090947,0.683718,0.751574,67.55,0.88,111.17
30106,AMED,2019-03-27,119.559998,-0.024715,0.099533,0.695205,0.751194,67.83,0.89,110.52

In [34]:
data_final.to_csv("data_final.csv")